<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Marketplace</title>
</head>

<body>
<h1>MARKETPLACE
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</h1><hr>

<h3>
    <a href="/login">Sign In</a> || <a href="/registration">Registration</a>
</h3><hr>


<h3>PRODUCT LIST</h3>

<form action="/search/" method="get">
    Search product: <input type="text" name="title"
                   placeholder="Write name of product"/><br><br>
    <input type="submit" value="Search"/>
</form>

<br>

<div>
    <tr th:each="product : ${products}">
        <td th:text="${product.title}"></td>
        <a th:href="@{'/products/' + ${product.id}}">- details...</a>
    </tr>
</div>

<br>

<h3>CREATE NEW PRODUCT</h3>
<form action="/products/" method="post" enctype="multipart/form-data">
    Product: <input type="text" name="title"/><br><br>
    Description: <input type="text" name="description"/><br><br>
    Price: <input type="number" name="price"/><br><br>
    City: <input type="text" name="city"/><br><br>
    Author: <input type="text" name="author"/><br><br>

    First picture: <input type="file" name="file1"/><br><br>
    Second picture: <input type="file" name="file2"/><br><br>

    <input type="submit" value="Add product"/>
</form>


</body>
</html>