<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Marketplace</title>
</head>

<body>
<h1>MARKETPLACE</h1><hr>

<h3>Registration</h3>

<form action="/registration" method="post">
    User: <input type="text" name="name"/><br><br>
    Email: <input type="email" name="email"/><br><br>
    Phone number: <input type="text" name="phoneNumber"/><br><br>
    Password: <input type="password" name="password"/><br><br>
    <input type="submit" value="Accept"/>
</form>

</body>
</html>